/var/log/teleport/*.log {
        rotate 6
        monthly
        missingok
        notifempty
        compress
        delaycompress
        sharedscripts
        postrotate
                touch {{ teleport_log_path }}
                /bin/systemctl reload teleport
        endscript
}

